/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* Generic project styles */
  color: #3a3a3a;
  font-family: 'Cormorant+Garamond', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Cormorant+Garamond', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #252525;
}

/* Header */
header {
  background-color: #ffffff;
  padding: 0 1rem;
  position: fixed;
  z-index: 99;
  width: 100%;
  box-shadow: 0 2px 2px #3a3a3a;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header a {
  text-decoration: none;
  color: inherit;
}

#menu {
  font-size: 110%;
  letter-spacing: 4px;
  list-style-type: none;
}

#menu>li {
  margin-bottom: 1em;
}

.active {
  border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  left: 0;
  padding: 0 1rem;
  box-shadow: 0 2px 2px #3a3a3a;
  display: none;
  top: 100%;

}
/* Header adjustment to show sections at the beginning when clicking*/
#story, #masterclass, #signup {
  scroll-margin-top: 100px;  
}

/* Nav toggle */
#nav-toggle:checked~nav {
  display: block;
}

#nav-toggle {
  display: none;
}

.nav-toggle-label {
  font-size: 2rem;
}


/* Main content */
main {
  /* Make main element take up any surplus space to push footer down */
  flex: 1 0 auto;
  /* Add margin at the top to prevent content from being covered by the header */
  margin-top: 47px;
  /* Enable flex properties for child elements */
  display: flex;
  flex-direction: column;
}


/* Hero section */
#hero {
  height: 600px;
  width: 100%;
  background: url("../images/hero.webp") center center / cover no-repeat;
  position: relative;
}

#cover-text {
  /* Final rgba value set the opacity so it is semi-transparent */
  background-color: rgba(187, 195, 164, .7);
  font-size: 130%;
  position: absolute;
  bottom: 30px;
  width: 80%;
  min-height: 200px;
  padding-top: 40px;
  padding-left: 10px;
}

#cover-text>h2,
#cover-text>h3 {
  color: #ffffff;
}

/* Story section */
.story {
  background-color: #f0f0f0;
  padding: 2rem;
}

.text-content-story {
  display: flex;
  align-items: flex-start;
  /* Vertically align content at top */
  flex-direction: column;
}

.text-content-story h2,
h3 {
  margin: 0 0 1rem 0;
}

.image-content-story {
  max-width: 100%;
  /* Allow image to shrink, but not grow beyond its original size */
  height: auto;
  /* Maintain aspect ratio */
  margin-right: 2rem;
  border: 5px solid #ccc;
}

.image-story {
  max-width: 100%;
  /* Allow image to shrink, but not grow beyond its original size */
}

.flex-container-story {
  display: flex;
  flex-direction: column;
  /* This makes the child elements sit side by side */
  justify-content: space-between;
  /* Adjusts spacing between the children */
  align-items: center;
  /* Aligns items vertically in the center */
}


/* Masterclass section */
.masterclass {
  background-color: #e3e7da;
  padding: 2rem;
}

.text-content-masterclass {
  display: flex;
  align-items: flex-start;
  /* Vertically align content at top */
  flex-direction: column;
}

.text-content-masterclass h2,
h3,
h4 {
  margin: 0 0 0 0;
}

ul {
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

.image-content-masterclass {
  max-width: 100%;
  /* Allow image to shrink, but not grow beyond its original size */
  height: auto;
  /* Maintain aspect ratio */
  margin-right: 2rem;
  align-self: center;
  border: 5px solid #ccc;
}

.image-masterclass {
  max-width: 100%;
  /* Allow image to shrink, but not grow beyond its original size */
}

.flex-container-masterclass {
  display: flex;
  flex-direction: column;
  /* This makes the child elements sit side by side */
  justify-content: space-between;
  /* Adjusts spacing between the children */
}

/* Signup section */
#signup {
  background-image: url(../images/signup.webp);
  background-size: cover;
  background-position: 75%;
  padding: 2rem;
}

.text-content-signup {
  display: flex;
  align-items: flex-start;
  /* Vertically align content at top */
  flex-direction: column;
}

.text-content-signup h2 {
  margin: 0 0 1rem 0;
}

/* Form */
#signup-form {
  color: #ffffff;
  background-color: rgba(60, 60, 60, 0.6);
}

#signup-form>h2 {
  color: #fafafa;
  margin-bottom: 20px;
}

.text-input {
  background: transparent;
  color: #fafafa;
  width: 100%;
  height: 25px;
  margin: 5px 0 20px 0;
  border: 1px solid #fafafa;
  border-radius: 2px;
  padding: 0 5px;
}

.radio-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.join-button {
  margin-top: 20px;
  border-radius: 2px;
  padding: 15px 32px;
  font-size: 100%;
  background-color: #454b1b;
  color: #fafafa;
}


/* Footer */
#social-networks {
  text-align: center;
  padding: 35px 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

#social-networks i {
  font-size: 100%;
  padding: 5%;
  color: #3a3a3a;
}


/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

  /* Header */
  nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
  }

  #menu {
    display: flex;
  }

  #menu>li {
    padding-left: 1rem;
  }

  .nav-toggle-label {
    display: none;
  }

  #logo {
    font-size: 280%;
    line-height: 75px;
    margin: 0 0.5rem;
  }

  /* Main content */
  main {
    /* Push main content own to accomoate larger header */
    margin-top: 79px;
  }
}


/* Media query: larger devices (laptops an desktops, 992px and higher) */
@media screen and (min-width: 992px) {
  #menu a:hover {
    border-bottom: 1px solid #3a3a3a;
  }

}

/* Media query: screens min 768px */
@media screen and (min-width: 768px) {

  /* Form */
  #signup {
    background-position: center;
    position: relative;
  }

  #signup-form {
    max-width: 400px;
  }

  .text-input:hover {
    border-color: #f16c6b;
  }

  .join-button:hover {
    background-color: #fafafa;
    color: #454b1b;
  }

}


/* Media query: screens smaller than 600px */
@media (max-width: 600px) {
  .flex-container-story {
    flex-direction: column;
    /* Stack children vertically on small screens */
  }

  .flex-container-masterclass {
    flex-direction: column;
    /* Stack children vertically on small screens */
  }

  .flex-container-signup {
    flex-direction: column;
    /* Stack children vertically on small screens */
  }
}